<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <application
        android:name=".Settings.ThemeSettings"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Tutorial.TutorialActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Settings.SecurityPassword"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ToDoListActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Settings.SecurityActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Settings.SettingsFrequentAsked"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Settings.SettingsAboutUs"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Settings.SettingsContactUs"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Settings.UserProfileActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".AccountEntry.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".AccountEntry.RegisterActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".AccountEntry.LoginActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.BackExercise_3_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.BackExercise_3"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.BackExercise_2_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.BackExercise_2"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.BackExercise_1_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.BackExercise_1"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.BackExercise"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ArmsExercise_3_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ArmsExercise_3"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ArmsExercise_2_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ArmsExercise_2"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ArmsExercise_1_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ArmsExercise_1"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ArmsExercise"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ChestExercise_3_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ChestExercise_3"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ChestExercise_2_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".NotAvailablePage"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ChestExercise_1_text"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ChestExercise_2"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ChestExercise_1"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Exercise.ChestExercise"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ExerciseActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".BMIActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".VideoScreen.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".AccountEntry.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Settings.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
    </application>

</manifest>